.gifs-list {
  border: 1px dashed black;
  padding: 20px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.gifs-list .gif {
  margin: 10px;
  border: 1px dashed red;
}

.gifs-list .gif img {
  max-width: 40vh;
}
